.section-bg-edge {
    padding: 12rem 0;
}

.section-bg-edge .image.left .bg-image {
    background-position: 50% 40%;
    background-size: 100%;
}

.list-check > li:before {
    display: none;
}

.col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: 0 0 33.333333%;
    flex: none;
    max-width: none;
}

.kubrick {
    background-image: url("https://www.newstatesman.com/sites/default/files/blogs_2020/04/gettyimages-52016657.jpg");
    height: 37rem;
    background-size: cover;
    background-position: 50% 30%;
}

.ballet {
    background-image: url("https://cinio.net/900664f0304f6faba5444f341324229a.png");
    height: 37rem;
    background-size: cover;
    background-position: 50% 30%;
}

.cinema {
    background-image: url("https://ontspanningstuin.nl/wp-content/uploads/2017/10/dromen-over-een-bioscoop-of-theater.jpeg");
    height: 37rem;
    background-size: cover;
    background-position: 50% 30%;
}

.contact-box {
    width: 100vw;
    min-height: 10rem;
    margin: 1.1rem;
}

.col-md-7 {
    display: none !important;
}

.col-md-2 {
    display: none;
}

.section-bg-edge .container > div[class*="col-"] {
    padding: 0;
}

.push-md-6 {
    left: 60%;
  }


/* ------------------ MOBILE ------------------ */

@media screen and (max-width: 480px) {
    #content {
        margin-top: 0;
    }
    
    .push-md-6 {
        left: 0;
    }

    .section-bg-edge {
        padding: 3rem 0;
    }

    .section-bg-edge .image.left .bg-image {
        background-position: 40% 40%;
        background-size: 230%;
    }
}

